body,
html {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  font-family: 'Lato';
  color: white;
}
a {
  color: white;
}
p {
  margin: 0;
}
.nav {
  flex-wrap: nowrap;
}
h2 {
  color: rgb(64, 135, 216);
  text-align: left;
}
.navbar {
  height: 100px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 50;
  border-top: 0px;
  padding: 0.5em;
  flex-wrap: nowrap;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
.navbar a {
  color: rgb(64, 135, 216);
}
.navbar h5 {
  font-size: 23px;
  color: rgb(64, 135, 216);
}
.navbar .header-logo {
  height: 50px;
  margin-left: 80px;
}
.navbar-nav {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.navbar .container-fluid {
  flex-wrap: nowrap;
}

#pass-status {
  color: white;
  position: absolute;
  font-size: 20px;
  right: 30%;
  align-self: center;
}

.fas {
  font-size: 22px;
  color: rgb(64, 135, 216);
}

.login-page {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  flex: 1;
  width: 100%;
  background: blanchedalmond;
  background: -webkit-linear-gradient(right, blanchedalmond, rgb(233, 213, 183));
  background: -moz-linear-gradient(right, blanchedalmond, rgb(233, 213, 183));
  background: -o-linear-gradient(right, blanchedalmond, rgb(233, 213, 183));
  background: linear-gradient(to left, blanchedalmond, rgb(233, 213, 183));
  padding: 50px;
}
.bottom-bar {
  display: flex;
  min-height: 120px !important;
  width: 100%;
  background: rgb(43, 185, 203);
}
.form {
  position: relative;
  z-index: 1;
  background: rgb(250, 209, 168);
  border-radius: 20px;
  max-width: 360px;
  min-width: 360px;
  margin: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form .row {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(0, 150, 255);
  border-radius: 10px;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(0, 120, 255);
}
